# Core Python libraries
numpy
pandas
matplotlib
seaborn

# SQL in Jupyter
ipython-sql
sqlalchemy
sqlparse

# Notebook interactivity and widgets
ipywidgets
widgetsnbextension
voila

# Jupyter support
notebook
nbconvert
nbformat
ipykernel
